.title {
    color: #999;
}
.body {
    margin-left:10px;
}
.description_area {
    margin: 10px;
}
.heading {
    margin: 10px;
    font-size: 1.5rem;
}
.glyph {
    border: #777 1px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
}