.title {
    color: #999;
}
.body {
    margin-left:10px;
}
.description_area {
    margin: 10px;
}
.heading {
    margin: 10px;
    font-size: 1.5rem;
}
.heading .around_link {
    font-size: 0.8rem;
    margin-left: 10px;
}
.glyph {
    border: solid #777 1px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
}
.additional {
    font-size: 0.8rem;
    color: #999;
}
.prev_and_next {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.prev {

}
.next {

}